body {
    padding: 0;
    margin: 0;
}

#formMain {
    margin: 0.5rem;
}

div.divGroup {
    margin: 0 0 1rem 0;
}

div.divModal {
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
}

#divModalProgress {
    display: block;
}

div.divModalBG {
    background: rgba(0,0,0,0.5);
    height: 100vh;
    position: absolute;
    width: 100%;
}

div.divModalFrame {
    background: #fff;
    left: 50%;
    padding: 0.5rem 1rem 1rem 1rem;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
}

#divCharsetFrame {
    width: 40rem;
    height: 30rem;
}

#divUploadFrame {
    width: 35rem;
    height: 8rem;
}

#divProgressFrame {
    width: 30rem;
    height: 5rem;
}

div.divModalHeader {
    vertical-align: middle;
    position: relative;
    padding-bottom: 0.2rem;
}

div.divModalCaption {
    float: left;
    font-weight: bold;
}

div.divCloseModal {
    width: 100%;
    text-align: right;
}

div.divModalInnerFrame {
    position: relative;
    width: 100%;
}

#divCharsetInnerFrame {
    height: 28rem;
    overflow-y: scroll;
}

#divUploadInnerFrame {
    height: 6rem;
    display: table-cell;
    vertical-align: middle;
}

#divProgressInnerFrame {
    width:30rem;
    height: 3rem;
    display: table-cell;
    text-align:center;
    vertical-align: middle;
}

table.CodeTable {
    border-collapse: collapse;
    border-spacing: 0px;
    border: 1px solid black;
}

table.CodeTable td {
    border: 1px solid black;
    vertical-align: middle;
}

td.char {
    width: 2rem;
    height: 1rem;
    text-align: center;
}

#fileUpload {
    border: 1px solid black;
}

.msgErrorMessage {
    color: coral;
}
