body {
    padding: 0;
    margin: 0;
}

#formMain {
    margin: 0.5rem;
}

div.divGroup {
    margin: 0 0 1rem 0;
}

div.divModal {
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
}

div.divModalBG {
    background: rgba(0,0,0,0.5);
    height: 100vh;
    position: absolute;
    width: 100%;
}

div.divModalFrame {
    background: #fff;
    left: 50%;
    padding: 0.5rem 1rem 1rem 1rem;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
}

div.divModalHeader {
    vertical-align: middle;
    position: relative;
    padding-bottom: 0.2rem;
}

div.divModalCaption {
    float: left;
    font-weight: bold;
}

div.divCloseModal {
    width: 100%;
    text-align: right;
}

div.divModalInnerFrame {
    position: relative;
    width: 100%;
}

div.innerframe_middle {
    display: table-cell;
    vertical-align: middle;
}

table.CodeTable {
    border-collapse: collapse;
    border-spacing: 0px;
    border: 1px solid black;
}

table.CodeTable td {
    border: 1px solid black;
    vertical-align: middle;
}

td.char {
    width: 2rem;
    height: 1rem;
    text-align: center;
}

.msgErrorMessage {
    color: coral;
}

button.btnFontFile {
    width: 10rem;
    height: 2rem;
    font-weight:bold;
}

div.divFontFileButton {
    margin-bottom: 0.2rem;
}

div.divFontFileDesc {
    margin-left: 0.5rem;
    margin-bottom: 1rem;
}
